@use 'colors';

html {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    color: var(--text-light);
    background-color: var(--background-dark);
}

// Typography
h2 {
    font-size: 20px;
    color: var(--text-light);
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}