<app-header />

<main>
    <nav>
        <ul class="users">
            <li> 
                <app-user 
                    [user]="users[0]" 
                    (onSelected)="onSelectedUser($event)"
                /> 
            </li>
            <li> 
                <app-user 
                    [user]="users[1]"
                    (onSelected)="onSelectedUser($event)"
                /> 
            </li>
            <li> 
                <app-user 
                    [user]="users[2]"
                    (onSelected)="onSelectedUser($event)"
                /> 
            </li>
            <li> 
                <app-user 
                    [user]="users[3]"
                    (onSelected)="onSelectedUser($event)"
                /> 
            </li>
        </ul>
    </nav>
    <app-task [userName]="selectedUserName()"></app-task>
</main>