<app-header />

<main>
    <nav>
        <ul class="users">
            @for (user of users; track user.id) {
                <li> 
                    <app-user 
                        [user]="user" 
                        (onSelected)="onSelectedUser($event)"
                        [selected]="selectedUser()?.id === user.id"
                    /> 
                </li>
            }
        </ul>
    </nav>
    @if(selectedUser(); as user) {
        <app-task 
            [userName]="user.name"
            [userId]="user.id"
        />
    }
    
</main>