button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.5rem;
  background-color: var(--secondary);
  color: var(--text-dark);
  border: none;
  font: inherit;
  cursor: pointer;
  width: 100%;
  min-width: 10rem;

  &:hover,
  &:active {
    background-color: var(--state-hover);
    color: var(--text-light);
  }

  &.active {
    color: var(--text-light);
    background-color: var(--state-active);
  }
}

img {
  width: 2rem;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

span {
  font-size: 0.8rem;
}