html {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    color: #fff;
    background-color: #4b2d6b;
}

// Typography
h2 {
    font-size: 20px;
    color: #333;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}